.service-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.service-box-image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}

.service-box-image-container {
  width: 100%;
  height: 15rem;
  position: relative;
}

.service-box-actions {
  position: absolute;
  top: 0.2rem;
  right: 0.2rem;
  display: flex;
  gap: 0.5rem;
}

.service-box-info {
  padding: 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.service-box-info-headers {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.service-box-info-title {
  font-weight: bold;
  margin-bottom: 0.2rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 100%;
  display: block;
  overflow: hidden;
}

.service-box-info-content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: 0.5rem;
  margin: 0.5rem 0;
}

.service-box-info-content > p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.service-box-icon {
  width: 1rem;
  height: 1rem;
  color: var(--mantine-color-teal-6);
}

.service-box-info-content-inner > svg {
  color: var(--mantine-color-teal-6);
}

.service-box-image-skeleton {
  width: 100%;
  height: 100%;
}
