.body {
    display: flex;
    flex-direction:column;
    justify-content:space-between;
    padding: 0 10%;
}
/* some problem with the formatting of the Image component from mantine, it takes up the entire screen right now lol*/

.image-container {
    display: block;
    width: 100%;
    height: auto;
}

.body > div {
    margin-top: 1%;
}