.homepage {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  gap: 1rem;
}

.homepage-divider {
  margin: 1rem 0;
  border-bottom: 1px solid var(--mantine-color-grey-2);
}
