.add-service-file-display {
  width: 100%;
  aspect-ratio: 5/3;
  cursor: pointer;
  border: 1px solid var(--mantine-color-dark-6);
  border-radius: var(--mantine-radius-sm);
}

.add-service {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-service-times {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.add-service-times > * {
  width: 100%;
}

.add-service-service-hours {
  align-items: flex-end;
  width: 100%;
}
