.announcement-list-container {
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    /* setting rounded corners for the container*/
    border-color: silver;
    border-style:solid;
    border-width: 5px;

    border-radius: 15px;
    background: linear-gradient(to bottom, #b4e391 50%,#6ad91a 100%);
  }

  .announcement {
    margin: 1%;
  }