.service-list-container {
    flex-direction: column;
    justify-content: space-between;
    padding: 1%;
    /* setting rounded corners for the container*/
    border-color: silver;
    border-style: solid;
    border-width: 5px;

    border-radius: 15px;
    background: linear-gradient(to bottom, #f0f9ff 0%,#cbebff 47%,#a1dbff 100%);
  }

  .service {
    margin: 1%;
  }