.service-page {
  margin: 1rem;
}

.service-boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
}

.service-headers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-skeleton {
  width: 100%;
  border-radius: 7px;
  height: 15rem;
}