.login-page {
  margin: 7%;
}

.login-headers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
  padding: 0 3rem;
  gap: 2rem;
}
.login-headers-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.login-logo {
  width: min(20%, 7rem);
  position: relative;
  aspect-ratio: 1/1;
}

.login-form-container {
  display: flex;
  flex-direction: column;
  margin: 0 3rem;
  padding: 2%;
  gap: 1rem;
}
.login-form-already-member {
  align-self: center;
}
.login-form-forgot-password {
  align-self: center;
}

@media screen and (max-width: 48em) {
  .login-page {
    margin: 3%;
  }
  .login-headers {
    flex-direction: column;
    margin: 0;
    padding: 0 1rem;
  }
  .login-headers-text {
    margin-bottom: 2%;
  }
  .login-logo {
    margin-bottom: 2%;
  }
  .login-form-container {
    margin: 0;
  }
}
